.menuCard {
	display: flex;
	background-color: var(--background-color);
	border: 1px solid #35b8be26;
	border-radius: 6px;
	width: 48%;
	height: 200px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 16px;
}

.menuCard img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 6px;
	flex-shrink: 0;
}

.menu-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5% 5% 5% 5%;
	width: 80%;
	flex-wrap: wrap;
	gap: 2rem;
	max-height: 660px;
}

.menuCard * {
	gap: 1rem;
}

.card-name-and-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.card-info {
	overflow-y: auto;
	max-height: 48px;
	scrollbar-width: thin;
	scrollbar-color: #ccc transparent;
}

.card-info p {
	color: var(--text-color);
	font-size: 106%;
	line-height: 24px;
	letter-spacing: 0.32px;
}

.menu-card-prise {
	color: #35b8be;
}

.menu-card-title {
	font-size: 120%;
	letter-spacing: 0.6px;
	overflow-y: auto;
	max-height: 20px;
	max-width: 70%;
	scrollbar-width: thin;
	scrollbar-color: #ccc transparent;
}

.menu-text-input {
	height: 100%;
	border: 1px solid #dddddd;
	border-radius: 6px;
	width: 17%;
	text-align: center;
	background-color: var(--background-color);
	color: var(--text-color);
}

.menu-add-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
