.menuCard {
    display: flex;
    background-color: white;
    border: 1px solid #35B8BE26;
    border-radius: 6px;
    max-width: 48%;
    max-height: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 16px;
}

.menu-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuCard * {
    gap: 1rem;
}

.card-name-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-info p {
    color: #546285;
    font-size: 106%;
    line-height: 24px;
    letter-spacing: 0.32px;

}

.menu-card-prise {
    color: #35b8be;
}

.menu-card-title {
    font-size: 120%;
    letter-spacing: 0.6px;
}