.menu-select {
	padding-top: 5%;
	width: 65%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu-select label {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #61728333;
	border-radius: 5px;
	height: 6vh;
	width: 15vh;
	line-height: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.menu-select input:checked + label {
	background-color: var(--accent-color);
	color: var(--notification-text-color);
}

.menu-select label:hover {
	background-color: var(--accent-color);
	color: var(--notification-text-color);
}

.radio-item-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
	text-decoration: none;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.radio-item-menu input {
	display: none;
}
