.section-divider--small {
	height: 60px;
	margin: 20px 0;
}

.section-divider--large {
	height: 140px;
	margin: 60px 0;
}

.section-divider-content {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: var(--text-color);
	text-align: center;
}

@media (max-width: 768px) {
	.section-divider {
		height: 60px;
		margin: 20px 0;
	}
	
	.section-divider--large {
		height: 80px;
		margin: 30px 0;
	}
	
	.section-divider--small {
		height: 40px;
		margin: 15px 0;
	}
}

 