.footer {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background.png");
    background-size: cover;
    background-position: center;
    height: 79vh;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 73%;
}

.info-container .info {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    margin-bottom: 5%;
    gap: 10%;
}

.info-container p {
    color: #546285;
    font-size: 87%;
    cursor: pointer;
}

.info-container h1 {
    font-size: 87%;
    letter-spacing: 1.5px;
}


.logo-and-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5%;
    gap: 3%;
    margin-right: 18%;
}

hr {
    align-self: center;
    width: 80%;
    border: 1px solid #7E828F17;
}

.footer-info span {
    color: #35b8be;
    cursor: pointer;
}

.links-and-info {
    margin-top: 4rem;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links img {
    cursor: pointer;
}